@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts
{
    <script type="module">
        import { Uppy, Dashboard, Tus, ImageEditor, Form } from "https://releases.transloadit.com/uppy/v3.7.0/uppy.min.mjs";
        const uppy = new Uppy({
            restrictions: {
                maxFileSize: 10000000,
                maxNumberOfFiles: 1,
                allowedFileTypes: ['image/jpeg', 'image/png']
            }
        });
        uppy.use(Dashboard,
        {
            target: '#uppy',
            inline: true,
            proudlyDisplayPoweredByUppy: false
        })
            .use(Tus, { endpoint: window.location.origin + "/upload" })
            .use(ImageEditor, { target: Dashboard })
            .use(Form, {
                target: "#image",
                submitOnSuccess: true
            });
    </script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" >
        <div id="uppy"></div>
    </form>
</div>