@page
@model Greek_Pot_Recognition.Pages.resultsModel
@{
    ViewData["Title"] = "results";
}

<h1>results</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
