@page
@model Greek_Pot_Recognition.Pages.resultsModel
@{
    ViewData["Title"] = "results";
}

<h1>Results</h1>

@Model.UserFile?.UploadGuid

<img src="/API/GetImage?guid=@Model.UserFile?.UploadGuid" alt="Uploaded file">

@section Scripts {

}
