@page
@model Greek_Pot_Recognition.Pages.API.GetImageModel
@{
    ViewData["Title"] = "GetImage";
}

<h1>GetImage</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
